.ar-silver{
    color:#C0C0C0 !important;
}
.ar-bg-silver{
    background-color: #C0C0C0 !important;
    color: black;
}
.ar-putih{
    color: white !important;
}

a {
    text-decoration: none;
}

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
.w3-row-padding img {
    margin-bottom: 12px
}
.w3-sidebar {
    width: 120px;background: #222;
}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px
}
.ar-menu-m{
    background-color: #C0C0C0;
}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}